.card__like-button{
    background-image: url('../../../images/like_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 19px;
    height: 19px;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}
.card__like-button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.card__like-button:active{
    cursor: pointer;
    opacity: 1;
    background-image: url('../../../images/like_btn_active.svg');
    transition: background-image 0.3s;
}