@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
  }
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
         url("../fonts/Inter-Medium.woff") format("woff");
  }
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
         url("../fonts/Inter-Black.woff") format("woff");
  }
*{
    border: 1px solid red;
}

.body{
    background-color: #E5E5E5;
    font-family: 'Inter','Arial', sans-serif;
    margin:0;
}
.page{
    max-width: 1280px;
    background-color: #000000;
    
    margin: 0 auto;
    
}
@media screen and (max-width: 1024px){
    .page{
        margin:0;
    }
}
.header{
    max-width: 69%;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    
}
@media screen and (max-width: 768px){
    .header{
        max-width: 85.5%;
        padding-top: 28px;
        padding-bottom: 27px;
        
    }
}
@media screen and (max-width: 320px){
    .header{
        max-width: 320px;
        padding-left: 27px;
    }
}
@media screen and (max-width: 320px){
.header__logo{
   max-width: 103.74px;
   min-height: 24.4px;
}
}
.main{
    max-width: 69%;
    margin: 0 auto;
    
}
@media screen and (max-width: 768px){
    .main{
        max-width: 85.5%;
    }
}
@media screen and (max-width: 320px){
    .main{
        max-width: 88%;
        display: flex;
        flex-direction: column;
    }
}
.profile{
    display: flex;
    padding-top: 34px;
    padding-bottom: 45px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1024px){
    .profile{
    flex-direction: column;
    justify-content: center;
        
    }
}
@media screen and (max-width: 768px){
    .profile{
        padding-top: 0;
                
    }
}
@media screen and (max-width: 320px){
    .profile{
        padding-bottom: 36px;
        flex-grow: inherit;       
    }
}
.profile__avatar{
    display: flex ;
}
@media screen and (max-width: 768px){
.profile__avatar{ 
flex-direction: column;
align-items: center;
margin: 0 auto;
  padding-top: 42px;
    padding-bottom: 36px;
}
}
@media screen and (max-width: 320px){
    .profile__avatar{ 
        padding-bottom: 0;
        }
    }
.profile__image{
   border-radius: 50%;
   max-height: 122px;
}
@media screen and (max-width: 768px){
    .profile__element{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile__profile-info{
    display: flex;
    padding-left: 30px;
    
}

.profile__name{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    margin:21px 18px 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 768px){
    .profile__name{
        text-align: center;
    }
}
@media screen and (max-width: 320px){
    .profile__name{
     margin:0 auto;
     margin-top: 25px;
     margin-bottom: 9px;
    
    
font-size: 27px;
line-height: 33px;
    }
}
.profile__about{
    font-weight: 400;
font-size: 18px;
line-height: 1.22;
color: #FFFFFF;
margin:0;
margin-left: 32px;
margin-bottom: 25px;
}
@media screen and (max-width: 768px){
    .profile__about{
        margin-left: 0;}
    }
@media screen and (max-width: 320px){
    .profile__about{
      margin-right: auto; 
      margin-bottom: 32px;
      margin-left: auto; 
      text-align: center;
     font-size: 14px;
line-height: 17px;
    }
}
.profile__edit-button{
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    padding:0;
    border: 1px solid #FFFFFF;
    margin-top: 36px;
}
.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
    }
@media screen and (max-width: 768px){
    .profile__edit-button{
        width: 18px;
    height: 18px; 
    margin-top: 32px;
    margin-left: 10px;
    }
}
@media screen and (max-width: 320px){
    .profile__edit-button{
        width: 18px;
    height: 18px; 
    margin-top: 32px;
    margin-left: 10px;
    }
}
.profile__edit-vector{
    padding: 6px;
    margin:0;

}
@media screen and (max-width: 768px){
    .profile__edit-vector{
        padding: 4.25px;
        max-width: 7.5px;
    }
}
.profile__add-button{
    
    background-color: #000000;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
border-radius: 2px;
}
.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
    }
@media screen and (max-width: 1024px){
    .profile__add-button{
        margin-top: 20px;
        
    }
}
@media screen and (max-width: 320px){
    .profile__add-button{
        margin-top: 0;
        min-width: 100%;
    }
}

.profile__add-vector{
    
    margin:0;
}

.cards__container{
padding:0;
margin: 0;
list-style-type:none;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2, 1fr);
gap: 23px 17px;
}
@media screen and (max-width: 1024px){
    .cards__container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 10px; 
    }  
}
@media screen and (max-width: 500px){
    .cards__container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 23px;
    }
}
.card{
    background: #FFFFFF;
    border-radius: 10px;
}
.card__image{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card__location{
    padding: 0;
    margin: 0;
    font-weight: 900;
font-size: 24px;
line-height: 1.2;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

@media screen and (max-width: 768px){
    .card__location{
font-size: 24px;
line-height: 29px;
    }
}
.card__like-button{
    background-image: url('../images/like_btn.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 19px;
    max-height: 19px;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.card__like-button:hover{
    opacity: 0.6;
    cursor: pointer;
    
    }
.card__like-button:active{
     cursor: pointer;
     opacity: 1;
     background-image: url('../images/like_btn_active.png');
      }
.card__footer{
    display: flex;
    margin: 22px 22px 22px 22px;
    justify-content: space-between;
    }
.footer{
    max-width: 69%;
    margin: 0 auto;
    padding-top:67px;
    padding-bottom: 60px;
}
@media screen and (max-width: 768px){
    .footer{
        max-width: 85.5%;
        padding-top:48px;
    padding-bottom: 36px;
    }
}
@media screen and (max-width: 320px){
    .footer{
        max-width: 88%;
    }
}
.footer__copyright{
    font-weight: 400;
font-size: 18px;
line-height: 1.22;
color: #545454;

}
@media screen and (max-width: 768px){
    .footer__copyright{ 
font-size: 14px;
line-height: 17px;
    }
}
.popup{
    font-family: 'Inter','Arial', sans-serif;
    background: rgba(0, 0, 0, 0.5);
   display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
}
.popup_opened{
    display:flex;
}
.popup__close{
    background-image: url(../images/Close_Icon.png);
    background-color:rgba(0, 0, 0, 0.5);
    background-position: center;
    width: 32px;
    height: 32px;
    left: 438px;
    top: -41px;
    position: absolute;
    border: none;
}
.popup__close:hover{
opacity: 0.6;
cursor: pointer;
}
@media screen and (max-width: 768px){
    .popup__close{
        left: 293px;
        background-image: url(../images/Close_Icon_mob.png);
        width: 20px;
        height: 20px;
        left: 262px;
        top: -33px;
    }
}
@media screen and (max-width: 320px){
    .popup__close{
              
        left: 262px;
        top: -33px;
    }
}
.popup__container{
   
    max-width: 430px;
    min-height: 330px;
background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
position: relative;
padding:0 22px;
box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .popup__container{
        max-width: 282px;
        min-height: 322px;

    }
}
@media screen and (max-width: 320px){
    .popup__container{
        padding:0 20px;

    }
}
.popup__outer{
    max-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    
}
.popup__titel{
    font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
margin:0;
padding: 34px 64px 44px 13px;
}

@media screen and (max-width: 768px){
    .popup__titel{
font-size: 18px;
line-height: 22px;
padding: 34px 6px 44px 13px;
    }
}
@media screen and (max-width: 320px){
    .popup__titel{
        padding: 26px 9px 69px 3px;

    }
}
.popup__forms{
    padding: 0 11px;
}
@media screen and (max-width: 320px){
    .popup__forms{
        padding: 0;

    }
}
.popup__form{
      border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
margin:0;
width: 100%;
min-height: 27px;
display: block;
font-family: 'Inter','Arial', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;
}

.popup__about{
    margin-top: 27px;
    margin-bottom: 48px;
}
@media screen and (max-width: 320px){
    .popup__about{
        margin-bottom: 44px;

    }
}
.popup__button{
    width: 100%;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter','Arial', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin-bottom: 37px;
display: block;
padding: 0;

}
.popup__button:hover{
    opacity: 0.8;
    cursor: pointer;
    }
@media screen and (max-width: 1024px){
    .popup__button{
        max-width: 358px;
        
    }
}
@media screen and (max-width:768px){
    .popup__button{
               font-size: 14px;
line-height: 17px;
    }
}
@media screen and (max-width:320px){
    .popup__button{
        margin-bottom: 17px;
    }
}
